.container {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    text-align: left;
    color: #333;
}

.search-form {
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.movie-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-card {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 170px;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.movie-link {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.movie-poster img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

.no-poster {
    width: 120px;
    height: 170px;
    display: flex;
    background-color: rgb(224, 224, 224);
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    align-items: center;
}

.movie-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.movie-title {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.year-rating-container {
    display: flex;
    align-items: center;
}

.movie-year {
    color: black;
    font-size: 16px;
    margin-right: 10px;
}

.movie-rating {
    color: #ffa500;
    margin-bottom: 5px;
}

.movie-genre {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-style: italic;
    font-size: 12px;
}

.movie-genre div:not(:last-child)::after {
    content: ",";
    margin-right: 5px;
}

.movie-description {
    margin: 10px 10px 10px 0px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}