.rating-section {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    position: relative;

}

.rating-form {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    font-size: 25px;
    padding: 0 2px;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 25px;
}

.star-rating label:before {
    content: "★";
    display: block;
    line-height: 1;
}

/* Highlight stars on hover */
.star-rating input[type="radio"]:hover~label,
.star-rating input[type="radio"]:checked~label {
    color: #ffd700;
}

/* Highlight stars on label hover */
.star-rating label:hover,
.star-rating label:hover~label {
    color: #ffd700;
}

/* Rating button styles */
.rate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
}

.rate-button:hover {
    background-color: #0056b3;
}

.rating-section {
    padding: 0px;
}

.user-rating {
    margin-bottom: 10px;
    font-weight: bold;
}