<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Search Form -->
        <form class="search-form" form action="/search" method="get">
            <input type="text" name="query" class="search-input" placeholder="Search other movie...">
            <button type="submit" class="search-button">Search</button>
        </form>

        <h1 th:text="${searchTitle}">Search Result</h1>

        <!-- Show movies if any exist -->
        <div class="movie-list" th:if="${movies != null}">
            <div class="movie-card" th:each="movie : ${movies}">
                <div class="movie-poster">
                    <img th:if="${movie.posterPath != null}"
                        th:src="'https://image.tmdb.org/t/p/w200' + ${movie.posterPath}" th:alt="${movie.title}">
                </div>
                <div class="movie-info">
                    <h2 class="movie-title" th:text="${movie.title}">Movie Title</h2>
                    <span class="year-rating-container">
                        <span class="movie-year"
                            th:text="${#strings.length(movie.releaseDate) >= 4 ? #strings.substring(movie.releaseDate,0,4) : ''}">
                            Year</span>
                        <span class="movie-rating">
                            <span class="fa fa-star"></span>
                            <span th:text="${movie.rating}"></span>
                        </span>
                    </span>
                    <div class="movie-genre">
                        <div th:each="genre : ${movie.genres}">
                            <span th:text="${genre.name}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>